mixin ie(condition, content)
  | <!--[!{condition}]>!{content}<![endif]-->
doctype html
html.no-js(lang="en")
  head
    include includes/page_elements/header
  body
    include includes/page_elements/navigation
    main.wrapper
      .main.onepage-wrapper
        section.section.do_i_need_deliverance.aligner
          .container.aligner-inner
            .row
              .col-md-12
                h1 Dealing with the Enemy
                p.sub-heading Walking In Victory
                hr
                p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis lacinia velit, quis elementum quam interdum sit amet. Donec eleifend tristique erat at pulvinar. Donec accumsan orci et sapien dapibus rhoncus. In nec porttitor augue, vel tincidunt elit. Mauris in nunc dapibus, lacinia quam sit amet, sodales elit. In id nunc eu arcu rutrum ultrices volutpat eget tortor.
                p Vestibulum tincidunt nisl non pretium condimentum. Cras sed turpis consectetur urna volutpat viverra eget at erat. Ut neque tellus, auctor et enim quis, euismod tempus lacus. Cras nulla elit, hendrerit at laoreet ac, viverra at arcu. Nulla laoreet neque id elit aliquet, vulputate imperdiet risus tempus.
                p Etiam in elementum elit. Integer quis mauris quis nisl malesuada blandit a et velit. Donec pretium tortor diam, quis faucibus tellus vulputate at. In ac imperdiet turpis. Donec elementum lacinia ante nec posuere. Praesent dignissim pharetra nibh nec bibendum.
                blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
              .col-md-12
                h3 Do I need Deliverance?
                hr
                p.sub-heading Are you experiencing any of these symptoms?
              .col-md-3
                .my_cstm_btn Anti-christ
                .my_cstm_btn Anger
                .my_cstm_btn Bitterness
                .my_cstm_btn Bondage
                .my_cstm_btn Idolatry / False Gods
              .col-md-3
                .my_cstm_btn Jezebel
                .my_cstm_btn Mental Illness
                .my_cstm_btn Profanity
                .my_cstm_btn Religion
                .my_cstm_btn Self
              .col-md-3
                .my_cstm_btn Strife
                .my_cstm_btn Torment
                .my_cstm_btn Witchcraft / Occult
                .my_cstm_btn Ungodly Ties To Be Broken (Soul ties)
                .my_cstm_btn Deception<br>(Accepting Lies)
              .col-md-3
                .my_cstm_btn Fear
                .my_cstm_btn Rejection
                .my_cstm_btn Perversion
                .my_cstm_btn Poverty
                .my_cstm_btn Pride
              .my_popup.aligner
                button#closePupUp.close_pop_up(type="button", aria-label="Close") &times;
                .self_deliverance.curses_prayer.aligner-inner
                  .popup-header
                    h4.modal-title Breaking of soul ties
                    #antichrist.demon_qualities
                      ul
                        li Rebellion
                        li Stubborness
                        li False prophet spirit
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #anger.demon_qualities
                      ul
                        li Rage
                        li Wrath
                        li Irrational Anger
                        li Temper
                        li Violence
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #bitterness.demon_qualities
                      ul
                        li Hate
                        li Self-hate
                        li Lack of forgiveness of self
                        li Resentment
                        li Revenge
                        li Retaliation
                        li Jealousy, envy
                        li Murder
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #bondage.demon_qualities
                      ul
                        li Overbearing
                        li Hyperactivity
                        li Heaviness
                        li Depression
                        li Blocked emotion
                        li Grief
                        li Sorrow
                        li Sadness
                        li Hopelessness
                        li Depression
                        li Worry
                        li Anxiety
                        li Nervousness
                        li Stress
                        li Pressure
                        li Tension
                        li Self-pity
                        li Depression
                        li Lonliness
                        li Disappointment
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #idolatry.demon_qualities
                      ul
                        li Self
                        li People
                        li Things
                        li Money
                        li Sports
                        li Business
                        li Work
                        li Social media
                        li Lifestyle
                        li Entertainment (TV, movies, etc.)
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #jezebel.demon_qualities
                      ul
                        li Seductive behavior
                        li Witchcraft
                        li Manipulation
                        li Control
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #mentalillness.demon_qualities
                      ul
                        li Retardation
                        li Schizophrenia
                        li Bipolar disorder
                        li Paranoia
                        li Manic depression
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #profanity.demon_qualities
                      ul
                        li Cursing
                        li Blasphemy
                        li Take God's name in vain
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #religion.demon_qualities
                      ul
                        li Traditions of men
                        li False doctrines
                        li Rituals
                        li Legalism
                        li Martial arts
                        li Yoga
                        li Secret societies (Freemasonry, Eastern Star, etc.)
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #self.demon_qualities
                      ul
                        li Selfishness
                        li Self-gratification
                        li Self-will
                        li Self-righteousness
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #strife.demon_qualities
                      ul
                        li Conflict
                        li Bickering
                        li Argumentative
                        li Quarreling
                        li Fighting
                        li Criticism
                        li Judgemental
                        li Gossiping
                        li Accusations
                        li Finding Fault
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #torment.demon_qualities
                      ul
                        li Harassment
                        li Nightmares
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #witchcraft.demon_qualities
                      ul
                        li Ouija boards
                        li Familiar spirits
                        li Spirit guides
                        li Divination
                        li Sorcery
                        li Horoscopes, astrology
                        li Fortune telling
                        li Tarot cards
                        li Worship of the dead
                        li Charms, crystals
                        li Vodoo
                        li Wicca
                        li Santeria
                        li Spiritualism
                        li Palo Mayombe
                        li Medicine man spirit
                        li Spirital healer
                        li Indian witchcraft
                        li Shamanism
                        li Pyschics
                        li Seance
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #ungodlyties.demon_qualities
                      ul
                        li Sexual groups (orgies)
                        li Sexual abuse
                        li Rape
                        li Ex-husbands & ex-wives
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #deception.demon_qualities
                      ul
                        li Self-eception
                        li Delusional
                        li Delirious
                        li Blinding
                        li Denial
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #fear.demon_qualities
                      ul
                        li Death
                        li Accidents
                        li Future
                        li Disapproval
                        li Confrontation
                        li Rejection
                        li Darkness
                        li Lonliness
                        li Trust
                        li Love
                        li Commitment
                        li Animals
                        li Germs
                        li Sickness
                        li Satan
                        li Going outside
                        li Success
                        li Panic Attacks
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #rejection.demon_qualities
                      ul
                        li Self-rejection
                        li Rejection in the womb
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #perversion.demon_qualities
                      ul
                        li Lust
                        li Fantasies
                        li Lesbianism
                        li Homosexuality
                        li Masturbation
                        li Adultery
                        li Molestation of Children
                        li Incest
                        li Succubus
                        li Incubus
                        li Harlot
                        li Rape
                        li Bestiality
                        li Pornography
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #poverty.demon_qualities
                      ul
                        li Finantial bondage
                        li Financial blockage
                        li Financial destruction
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                    #pride.demon_qualities
                      ul
                        li Haughtiness
                        li Ego
                        li Intellectualism
                        li Vanity
                        li Self-righteousness
                        li Spiritual pride
                        li Ignorance
                      p. see also <a href="#">quality 1</a> | <a href="#">quality 2</a> | <a href="#">quality 3</a>
                      blockquote.verse Therefore if the <span class="Jesus">Son of Man</span> makes you free, you shall be free indeed <a href="#">John 8:36</a>
                  .popup-body
        section.section.self_deliverance.aligner
          .container.aligner-inner
            .row
              .col-md-12
                h1 Self Deliverance
                hr
              .col-md-4
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id imperdiet risus, a tempus tortor. Phasellus a sapien molestie, rhoncus leo et, elementum nisl. Fusce sed libero id est gravida rhoncus. Donec a lobortis sem. Sed dolor tortor, dapibus id vehicula non, sodales vehicula nibh. Phasellus sed orci lacus. Pellentesque feugiat risus tortor.
                p Nunc vulputate convallis massa sed commodo. In feugiat tortor nec sapien efficitur suscipit. Curabitur id semper massa. Nulla eu turpis venenatis, mattis magna et, consectetur dolor. Integer id massa sed turpis eleifend egestas molestie vel enim. Ut tempor porta congue. Suspendisse gravida purus vel lobortis condimentum. Nulla vel eros vitae mauris ultricies volutpat. Praesent id porta tellus. Vestibulum a pharetra erat. Aenean dignissim varius elit eu iaculis. Pellentesque efficitur lacus ut lectus pellentesque, id consectetur ex accumsan. Etiam facilisis accumsan velit, quis pharetra est dictum quis.
              .col-md-8
                .row
                  ul.self_deliverance
                    .col-md-6
                      li#soulTie.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Soul Ties
                      li#familiarSpirits.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Familiar Spirits
                      li#jezebel.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Jezebel
                      li#curses.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Curses
                      li#sexualBondage.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Sexual Bondage
                    .col-md-6
                      li#occult.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Occult
                      li#satanism.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") Satanism
                      li#general.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.") General Prayer
                      li#salvation.self_deliverance_open.call_tooltip(title="Suspendisse commodo mi lacus, at commodo quam accumsan et.")
                        strong Salvation
              .col-md-12
                div.btn.btn-primary.btn-lg.btn-block Do I need deliverance?
        section.section.names_of_god.aligner
          .container.aligner-inner
            .row
              .col-md-12
                h1 The Names of God
                .sort_names
                  #jesus.button Jesus
                  div |
                  #god.button God
                  div |
                  #spirit.button Holy Spirit
                  div |
                  #reset.button Reset
                .col-md-12.names_side_note
                  p
                    em Hovering over a name will give it's translation in Hebrew
                hr
                ul.names_pool
                  li#father.call_tooltip.god.reset_names.reset_names(title="Abba") Father
                  li#ourFather.call_tooltip.god.reset_names.reset_names(title="Abba Avinu") Abba our Father
                  li#sufficient.call_tooltip.god.reset_names.reset_names(title="El Shaddai") All Sufficient God
                  li#fire.call_tooltip.spirit.reset_names.reset_names(title="Esh Okhlah") Consuming Fire
                  li#creator.call_tooltip.god.reset_names.reset_names(title="Hayotzer") Creator
                  li#elohim.call_tooltip.god.reset_names.reset_names(title="Elohim") God
                  li#everlasting.call_tooltip.god.reset_names.reset_names(title="Avi'ad") Everlasting Father
                  li#ofAll.call_tooltip.god.reset_names.reset_names(title="Avi-khol") Father of All
                  li#fatherGlory.call_tooltip.god.reset_names.reset_names(title="Avi HaKavod") Father of Glory.
                  li#fatherLights.call_tooltip.god.reset_names.reset_names(title="Avi HaMe'orot") Father of Lights
                  li#fatherMercies.call_tooltip.god.reset_names.reset_names(title="Avi HaRachamim") Father of Mercies
                  li#fatherJesus.call_tooltip.god.reset_names.reset_names(title="Avi Yeshua Hamashiach Adoneinu") Father of our Lord Jesus the Messiah
                  li#fatherSpirits.call_tooltip.god.reset_names.reset_names(title="Avi HaRuchot") Father of Spirits
                  li#godAbraham.call_tooltip.god.reset_names.reset_names(title="Elohei Avraham") God of Abraham
                  li#godComfort.call_tooltip.god.reset_names(title="Elohei khol-Nechamah") God of all Comfort
                  li#godFathers.call_tooltip.god.reset_names(title="Elohei Avoteinu") God of our Fathers
                  li#godGlory.call_tooltip.god.reset_names(title="Elohei HaKavod") God of Glory
                  li#godIsrael.call_tooltip.god.reset_names(title="El Yisrael") God of Israel
                  li#godIsaac.call_tooltip.god.reset_names(title="Elohei Ya'akov") God of Issac
                  li#godJacob.call_tooltip.god.reset_names(title="Elohei Ya'akov") God of Jacob
                  li#godPeace.call_tooltip.god.reset_names(title="Elohei HaShalom") God of Peace
                  li#godTheFather.call_tooltip.god.reset_names(title="Elohim Avinu") God the Father
                  li#heavenFather.call_tooltip.god.reset_names(title="Avinu Shebashamayim") Heavenly Father
                  li#kingKings.call_tooltip.god.jesus.reset_names(title="Melekh HaMelakhim") King of Kings
                  li#kingNations.call_tooltip.god.jesus.reset_names(title="Melekh HaGoyim") King of the Nations
                  li#living.call_tooltip.god.reset_names(title="Elohim Chayim") Living God
                  li#lordGod.call_tooltip.god.reset_names(title="Adonai Elohim") Lord God
                  li#lordHosts.call_tooltip.god.jesus.reset_names(title="Adonai Tseva'ot") Lord of Hosts
                  li#lordLords.call_tooltip.god.jesus.reset_names(title="Adonei Ha-Adonim") Lord of Lords
                  li#highGod.call_tooltip.god.jesus.reset_names(title="El Elyon") Most High God
                  li#exellentOne.call_tooltip.god.jesus.reset_names(title="Hagaon") The Excellent One
                  li#judge.call_tooltip.god.reset_names(title="HaShofet") The Judge
                  li#majesty.call_tooltip.god.reset_names(title="HaGedullah Bamaron") The Majesty on High
                  li#onlyWise.call_tooltip.god.reset_names(title="Elohim Echad V'hechakham") The Only Wise God
                  li#power.call_tooltip.spirit.god.reset_names(title="Hagevurah") The Power
                  li#sovereign.call_tooltip.god.jesus.reset_names(title="Hamvorakh") The Sovereign One
                  li#angelLord.call_tooltip.reset_names(title="Malakh Adonai") Angel of the Lord
                  li#branch.call_tooltip.reset_names(title="Tsemach Adonai") Branch of the Lord
                  li#creatorIsrael.call_tooltip.god.jesus.reset_names(title="Borei Yisrael") Creator of Israel
                  li#fortress.call_tooltip.god.jesus.reset_names(title="Machseh") Fortress / Shelter
                  li#just.call_tooltip.reset_names(title="Yashar") Just One
                  li#lightIsrael.call_tooltip.god.reset_names(title="Or Yisrael") Light of Israel
                  li#lightNations.call_tooltip.god.jesus.reset_names(title="Or Goyim") Light of the Nations
                  li#mightOne.call_tooltip.god.reset_names(title="Avir Ya’akov") Mighty One of Jacob
                  li#princePeace.call_tooltip.jesus.reset_names(title="Sar Shalom") Prince of Peace
                  li#redeem.call_tooltip.reset_names(title="Hamelekh Hagoel") Redeeming Angel
                  li#refuge.call_tooltip.god.jesus.reset_names(title="Ma’on") Refuge / Dwelling Place
                  li#rock.call_tooltip.god.jesus.reset_names(title="Tsur") Rock
                  li#rockIsrael.call_tooltip.god.reset_names(title="Tsur Yisrael") Rock of Israel
                  li#rockSalvation.call_tooltip.god.jesus.reset_names(title="Tsur Yeshuato") Rock of His Salvation
                  li#sheperd.call_tooltip.jesus.reset_names(title="Roeh") Shepherd
                  li#shiloh.call_tooltip.reset_names(title="Shiloh") Shiloh
                  li#starJacob.call_tooltip.god.reset_names(title="Kokhav Miya’akov") Star from Jacob
                  li#stoneIsrael.call_tooltip.god.reset_names(title="Even Yisrael") Stone (or Rock) of Israel
                  li#counsellor.call_tooltip.god.reset_names(title="Peleh Yo’etz") Wonderful Counsellor
                .cstm_divider . . .
                #nameDef.names_def.col-xs-12.col-md-6.col-md-offset-3
                  p Click one of the names to learn it's meaning and origin.
    aside
      include includes/page_elements/aside
    .my_popup.aligner
      button#closePupUp.close_pop_up(type="button", aria-label="Close") &times;
      .self_deliverance.curses_prayer.aligner-inner
        .popup-header
          h4.modal-title Breaking of soul ties
        .popup-body
          p Heavenly Father, in the Name of <span class="jesus">Jesus</span> I submit my soul, desires and emotions to the Holy Spirit.
          p I confess to you all of my promiscuous premarital sexual relationships, as well as all sexual relationships outside of marriage as sin. I also confess all ungodly spiritual, soul-ish or fleshly bondage as sin.
          p I thank you that you have forgiven me, and cleansed me of all unrighteousness through the blood of <span class="jesus">Jesus</span>. I thank you that you have given me the keys to your kingdom, and spiritual authority. What I bind will be bound, and what I loose will be loosed.
          p In the Name of <span class="jesus">Jesus</span>, I ask you to free me from all soul ties with previous sexual partners, and ungodly relationships. Holy Spirit please pull out all these roots, and tentacles of sexual bondage. Cut off the roots of the tree, emotional dependencies, lusts and addictions.
          p I bind, renounce and rebuke any demons that are strengthening these soul ties, or that I received through past sexual encounters.
          p I cancel all of your assignments against me in the Name of <span class="jesus">Jesus</span> and I declare your bondage broken in my life. I will not allow you in my life any further.
          p I now wield the sword of the Spirit against you and cut off the soul ties between me and the following people...
          p Father I pray that you will take away all memories that I have of these ungodly unions that I may be free to give my soul fully to you and my partner.
          p Father I accept your forgiveness for all past sexual sins, and I believe that I have been totally forgiven, and that I am cleansed of all unrighteousness.
          p I now dedicate myself to you, please keep me holy in soul, spirit and body by your grace. To you belong all the honour and the glory in <span class="jesus">Jesus</span> name.
          p.benediction In <span class="jesus">Jesus</span> name, amen!
      .self_deliverance.familiar_spirits_prayer.aligner-inner
        .popup-header
          h4.modal-title Prayer to renounce familiar Spirits
        .popup-body
           p <span class="jesus">Lord Jesus Christ</span>, I belong to you and you have saved me with your precious Blood. I need no other spirits in my life, except the Holy Spirit of God. Please forgive me today for accepting any help, guidance, comfort or information from any other spirits. Lord I also choose now to renounce all spirits that have come down my family line and are still in any way influencing my life. I also lay down and renounce any and all "gifts" or abilities that I have received from these spirits, and I command all such gifting that didn't originate from God to leave me now.
           p Holy Spirit, You have been sent by God the Father to teach, equip, comfort and guide me in Gods ways. I desperately need you in every area of my life. As Satan's counterfeit gifting releases me, I ask that You would fill me in the areas that they once influenced.
           p Satan, today I choose to stand firm in the victory that <span class="jesus">Jesus</span> gained over you on my behalf. I take authority over every spirit that came down my bloodline from my ancestors. In the mighty name of <span class="jesus">Jesus</span> Christ my Lord and Saviour I now command those spirits to leave me. <strong>Leave now!</strong>
           p.benediction In <span class="jesus">Jesus</span> name, amen!
      .self_deliverance.jezebel_prayer.aligner-inner
        .popup-header
          h4.modal-title Prayer for release from Jezebel
        .popup-body
          p ather, I come to you in the name of <span class="jesus">Jesus Christ</span> the Shepard of my soul.  I confess and renounce the sin in my life through which I manipulated, dominated and controlled other people.
          p I hate, renounce and reject the defeated Jezebel spirit and claim my victory against it in the name of <span class="jesus">Jesus</span> <a href="#" target="_blank">(Ps. 139)</a>.
          p Because <span class="jesus">Jesus</span> died for me on the cross, and became a curse on my behalf I now declare that every curse of Jezebel is broken up to seven generations before me on both sides of my family.
          p Father I also ask you to break any ties that I might still have with those that practice witchcraft against me.
          p Above all Lord please help me to fully submit my life to you.
          p <span class="jesus">Jesus</span> said, "They that believe in me will cast out devils".
          p I believe in <span class="jesus">Jesus</span> therefore I can take authority over every demon associated with Jezebel and <strong>command them to go from me in <span class="jesus">Jesus</span> name!</strong>
          p.benediction In <span class="jesus">Jesus</span> name, amen!
      .self_deliverance.occult_prayer.aligner-inner
        .popup-header
          h4.modal-title Prayer to renounce the occult
        .popup-body
          p Thank you <span class="jesus">Lord Jesus</span> that you have died for my sins.
          p Thank you <span class="jesus">Jesus</span> for your glorious resurrection, and that you have made me a new creature through my faith in the cleansing power of your precious blood.
          p <span class="jesus">Lord Jesus</span>, I confess the following before you today:
          ul
            li I sought supernatural experiences that were outside of your will, and I was disobedient to your Word.
            li I ask you Lord to help me to renounce these things, and to heal me in body, soul and spirit in <span class="jesus">Jesus</span> mighty name.
            li I renounce all witchcraft and sorcery, both black and white.
            li I renounce the ouija board, playing with "glassy", book and key, dungeons and dragons and all other occultic games.
            li I renounce all spiritualistic sessions, clairvoyance, and all spiritualistic mediums.
            li I renounce ESP, second sight and all mind reading.
            li I renounce all forms of fortune telling, palm reading, crystal balls, card reading etc.
            li I renounce all interest and contact with astrology and horoscopes.
            li I renounce reincarnation, and all contact with divination healing groups.
            li I renounce hypnotism under any circumstances.
            li I renounce all interest in the past, or the future that is outside of your will.
            li I renounce dowsing, devil worship and automatic writing.
            li I also renounce all literature that I have read in the above mentioned areas.
            li I now break in the name of <span class="jesus">Jesus</span> all hereditary demonic influence over my family line due to my ancestors involvement in any of the above mentioned areas.
            li I renounce every cult that renounces the Blood of <span class="jesus">Jesus</span>.
            li I renounce every philosophy that questions the divinity of Christ, or that renounces the Holy Spirit.
          p I now call on the name of <span class="jesus">Jesus</span> to set me free!
          p Lord I have another confession to make: I have harboured bitterness and resentment towards others.
          p Lord, please help me now to forgive them: I now choose to forgive the following people... & I also forgive myself!
          p I now renounce all evil spirits that are tormenting me, and <strong>I command you to leave me now in the name of <span class="jesus">Jesus</span>!</strong>
      .self_deliverance.salvation_prayer.aligner-inner
        .popup-header
          h4.modal-title Salvation prayer
        .popup-body
          p Lord <span class="jesus">Jesus Christ</span>, I believe that you are the Son of God, and the only way to God. I also believe that you died on the cross and laid down your life for all sinners. Lord, today I confess to You that I am a sinner, and that I have sinned against you. Lord please have mercy on me and forgive me all of my sins. Today I accept your selfless sacrifice on the cross on my behalf, and I accept You as my Lord and Saviour. Lord I invite You today to come and live in my heart, and I give You my life. I thank You now for Your forgiveness Lord, and from this day I choose to live for you.
          p.benediction In <span class="jesus">Jesus</span> name, amen!
          p This is the first, and most important step for any person that needs healing or deliverance from Satan's bondage in their lives. Welcome! Welcome to the most powerful, exciting phenomenal Kingdom in all the universe, God will bless you!
      .self_deliverance.satanism_prayer.aligner-inner
        .popup-header
          h4.modal-title Prayer to renounce witchcraft or Satanism
        .popup-body
          p I renounce all vows or oaths that I made or were made on my behalf at the altar of Satan whether known or unknown to me in the name of <span class="jesus">Jesus Christ</span>.  <span class="jesus">Lord Jesus</span>, I ask you today to please destroy every contract or oath or vow or ritual that I partook of whether through Satanism, witchcraft, the occult or spiritism through your precious blood.  I believe in your death and resurrection on the cross, and I pray that your victory over Satan on the cross would become my victory over Satan to defeat all his power in my life.
          p I renounce all inherited curses of spirits affecting me through my ancestor's involvement in witchcraft and pray that the Lord <span class="jesus">Jesus</span> would cleanse my bloodline through his precious blood.  I nail all these things to the cross.
          p Because of <span class="jesus">Jesus</span>' blood Satan has no more power over me or my family.  I renounce him and all his demons and declare them my enemies.  In <span class="jesus">Jesus</span> name I take up my Godly authority and expel all evil spirits thereby destroying completely all their power in my life.
          p In the name of <span class="jesus">Jesus</span> I remove all Satan's right to influence me or my kids from this moment on. <b>In <span class="jesus">Jesus</span> authority I bind all demons in my life and command them to go to where the Holy Spirit sends them!</b>
          p Father in the name of <span class="jesus">Jesus</span> I pray that you would close every doorway that I ever opened to Satan through sin in my life.  Please shut them through the blood of <span class="jesus">Jesus</span>.  I thank you for this in <span class="jesus">Jesus</span> name.
          p I place my past behind me, and choose God's future for my life from this day forward.
          p.benediction In <span class="jesus">Jesus</span> name, amen!
      .self_deliverance.sexual_bondage_prayer.aligner-inner
        .popup-header
          h4.modal-title Breaking sexual bondage
        .popup-body
          p Father I confess today that I was involved in sexual sin.  I specifically confess the following things (name them).
          p I claim my freedom in body, soul and spirit from all sexual bondage and stand on God's promise that whoever calls on <span class="jesus">Jesus</span> will be set free <a href="#" target="_blank">(Joel 2:32)</a>.
          p Lord you have promised that if I confess my sins you will forgive me and cleanse me of all unrighteousness <a href="#" target="_blank">(1 John 1:9)</a>.  I therefore accept your forgiveness and cleansing.
          p Satan, I reject you in the name of <span class="jesus">Jesus Christ</span>.  I take back every area of my mind and body that previously belonged to you.  I claim my freedom specifically in the area of sexual sin, and reject and renounce all sexual demons in my life. <strong>I command these demons to leave me now!</strong>
          p.benediction In <span class="jesus">Jesus</span> name, amen!
      .self_deliverance.soulTiesPrayer.aligner-inner
        .popup-header
          h4.modal-title Breaking of soul ties
        .popup-body
          p Heavenly Father, in the Name of <span class="jesus">Jesus</span> I submit my soul, desires and emotions to the Holy Spirit.
          p I confess to you all of my promiscuous premarital sexual relationships, as well as all sexual relationships outside of marriage as sin. I also confess all ungodly spiritual, soul-ish or fleshly bondage as sin.
          p I thank you that you have forgiven me, and cleansed me of all unrighteousness through the blood of <span class="jesus">Jesus</span>. I thank you that you have given me the keys to your kingdom, and spiritual authority. What I bind will be bound, and what I loose will be loosed.
          p In the Name of <span class="jesus">Jesus</span>, I ask you to free me from all soul ties with previous sexual partners, and ungodly relationships. Holy Spirit please pull out all these roots, and tentacles of sexual bondage. Cut off the roots of the tree, emotional dependencies, lusts and addictions.
          p I bind, renounce and rebuke any demons that are strengthening these soul ties, or that I received through past sexual encounters.
          p I cancel all of your assignments against me in the Name of <span class="jesus">Jesus</span> and I declare your bondage broken in my life. I will not allow you in my life any further.
          p I now wield the sword of the Spirit against you and cut off the soul ties between me and the following people...
          p Father I pray that you will take away all memories that I have of these ungodly unions that I may be free to give my soul fully to you and my partner.
          p Father I accept your forgiveness for all past sexual sins, and I believe that I have been totally forgiven, and that I am cleansed of all unrighteousness.
          p I now dedicate myself to you, please keep me holy in soul, spirit and body by your grace. To you belong all the honour and the glory in <span class="jesus">Jesus</span> name.
          p.benediction In <span class="jesus">Jesus</span> name, amen!
    .do_i_need_deliverance.aligner-inner
      .popup-header
        h4.modal-title Qualities Associated With Demons
      .popup-body
    .popup_behind#popUpBehind
    include includes/page_elements/footer
    
    
    
    
    
    
    
    
    
    
    
    
    
    
.panel-group#accordion(role="tablist", aria-multiselectable="true")
  .panel.panel-default
    .panel-heading#headingOne(role="tab")
      h4.panel-title
        a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") Collapsible Group Item #1
    .panel-collapse.collapse.in#collapseOne(role="tabpanel" aria-labelledby="headingOne")
      .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.  Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .panel.panel-default
    .panel-heading#headingTwo(role="tab")
      h4.panel-title
        a.collapsed(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Collapsible Group Item #2
    .panel-collapse.collapse#collapseTwo(role="tabpanel", aria-labelledby="headingTwo")
      .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  .panel.panel-default
    .panel-heading#headingThree(role="tab")
      h4.panel-title
        a.collapsed(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseThree", aria-expanded="false", aria-controls="collapseThree") Collapsible Group Item #3
    .panel-collapse.collapse#collapseThree(role="tabpanel", aria-labelledby="headingThree")
      .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.