.social_media
  div CFCI
  div Facebook
  div Twitter
  div Contact
.subsidiary
  h4 A proud subsidiary of <a href="http://www.christfamelandchapel.com" target="_blank">Christ Fameland Chapel International</a>
  .subsidiary_extra
    p Christ Fameland Chapel International (CFCI) is an international ministry. At you will experience the healing, restoration and breakthrough which comes through applying God’s word to your life.
    p exists to uplift our community and win souls for Jesus. We are not just a church but a ministry which brings hope to the distressed, joy to the frustrated, healing to the sick and freedom to those in demonic bondage.
    p is built upon on sound biblical doctrine. By serving our community with a spirit of excellence and love, we hope to bring the gospel of Jesus Christ to a dying world.
    p Our members come from a rich diversity of racial backgrounds, religious backgrounds, and life experiences. We embrace our differences and utilize them to help each other along our unique paths to becoming loving, joyful people.
    p We believe in Jesus’ power to transform broken lives into living testimonies through the power of his word and anointing of the Holy Spirit.