header
  .nanobar
    .bar
  .topbar
    a(href="mailto:aaron@dancingpixels.co.za") Get in touch
    form(name="marquee1")
      input(id="", name="text", value="Adonai | Breath of God | Despotes | Elohim | El Shaddai | El Elyon | El Olam | Father | Fire of God | Holy Ghost | Holy Spirit | Jesus | Kurios | Living Water | Theos | Yahweh | Yahweh Jireh | Yahweh Shalom | Yeshua | ")
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        button(class="navbar-toggle collapsed", type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="index.php") Outreach To A Dying World Ministries
      div(class="collapse navbar-collapse navbar-right", id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav")
          li.active
            a(href="#") Home
              span(class="sr-only") (current)
          li
           a(href="#") Messages
          li.dropdown
            a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") About this Website
              span.caret
            ul(class="dropdown-menu")
              li
                a(href="#") What is This Website For?
              li
                a(href="#") Statement of Faith
              li
                a(href="#") My Testimony
              li.divider(role="separator")
              li
                a(href="#") My Spiritual Father Dan Arkblessing
          li.dropdown
            a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Resources
              span.caret
            ul(class="dropdown-menu")
              li
                a(href="#") Self Deliverence
              li
                a(href="#") Emergency Verse Index
              li
                a(href="#") Powerful Quotes
              li
                a(href="#") The Names of God
              li.dropdown
                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Other Great Webites
                  span.caret
                ul(class="dropdown-menu")
                  li
                    a(href="#") Harvest Warriors
                  li
                    a(href="#") John Ramirez
          li.dropdown
            a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Thanks
              span.caret
            ul(class="dropdown-menu")
              li
                a(href="#") Christ Fameland Chapel
              li.divider(role="separator")
              li
                a(href="#") Warriors For Christ
          li
            a(href="#") Contact Me